
// Inter

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts//Inter-Regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Medium.ttf) format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-SemiBold.ttf) format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts//Inter-Bold.ttf) format("opentype");
    font-weight: 700;
    font-style: normal;
}

