/* You can add global styles to this file, and also import other style files */

:root {
    font-size: 10px;
    
}

* {
    margin: 0;
    font-weight: normal;
    font-family: Inter, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 1px;   
    height: 6px;              
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0.5rem; 
}